<div class="content-wrapper pb-0">
  <div class="page-header flex-wrap">
    <div class="header-left">
      <button class="btn btn-primary mb-2 mb-md-0 me-2"> Delete ID </button>
      <button class="btn btn-outline-primary bg-white mb-2 mb-md-0"
        [routerLink]="[V12RouteConstants.BIOCLOUD_V12_HOME_ROUTE]" routerLinkActive="active"> Back To Home </button>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="{{V12RouteConstants.BIOCLOUD_V12_HOME_ROUTE}}"
            routerLinkActive="active">Bio Cloud 12</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Delete ID </li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Delete ID</h4>
            <p class="card-description">It checks the registration or enrollment id whether it does exist or not.</p>
          </div>
          <div class="card-body">
            <form class="forms-sample" id="bioCloudDeleteIdForm" [formGroup]="bioCloudDeleteIdForm" #f="ngForm"
              (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label for="registrationNo">Registration ID</label>
                <input type="text" class="form-control" id="registrationNo" name="registrationNo"
                  formControlName="registrationNo" placeholder="Registration Id" />
                <div
                  *ngIf="bioCloudDeleteIdForm.get('registrationNo').invalid && (bioCloudDeleteIdForm.get('registrationNo').dirty || bioCloudDeleteIdForm.get('registrationNo').touched)"
                  class="text-danger field-require-text-msg">
                  <span *ngIf="bioCloudDeleteIdForm.get('registrationNo').errors?.required"><i>Please input a valid
                      registration id</i></span>
                  <span
                    *ngIf="bioCloudDeleteIdForm.get('registrationNo').errors?.minlength && !(bioCloudDeleteIdForm.get('registrationNo').errors?.noWhiteSpace)"><i>Enter
                      atleast 10 characters</i></span>
                  <span *ngIf="bioCloudDeleteIdForm.get('registrationNo').errors?.noWhiteSpace"><i>White and empty
                      spaces are not allowed</i></span>
                </div>
              </div>

              <div class="row">
                <div  class="col-md-8"></div>
                <div class="col-md-4  btn-right-div">
                  <button type="submit" form="bioCloudDeleteIdForm" [disabled]="!f.valid" class="btn btn-primary btn-margin-right">
                    Delete ID
                  </button>
                  <button class="btn btn-primary me-0 btn-margin-right" (click)="cancel()">Close</button>
                  <!-- <img id="btnEventLoader" *ngIf="loading" class="pl-3" src="{{imageLoader}}" /> -->
                </div>
              </div>
            </form>
          </div>
          <div id="delFooter" class="card-footer">
            <alert id="alertdiv"></alert>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>