<div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <div class="header-left">
      </div>
      <div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
        <div class="d-flex align-items-center">
          <a class="card-title mb-0" href="#" style="border: none;">
            <p class="m-0">Home</p>
          </a>
        </div>
      </div>
    </div>
    <!-- first row starts here -->
    <div class="row">
      <div class="col-xl-4 stretch-card grid-margin" *ngFor="let ad of advertisements">
        <div class="{{ad.AD_BACKGROUND_IMG_CLASS}}">
          <div class="card-body d-flex align-items-center">
            <div class="text-white">
              <img src="{{ad.AD_IMG_SRC}}" alt="{{ad.AD_IMG_ALT}}">
              <h1 class="font-20 font-weight-semibold mb-0"> {{ad.AD_TITLE_PART_1}}</h1>
              <h1 class="font-20 font-weight-semibold">{{ad.AD_TITLE_PART_2}}</h1>
              <p>{{ad.AD_DESCRIPTION}}</p>
              <p class="font-10 font-weight-semibold"> {{ad.AD_COMPANY_MSG}} </p>
              <img src="{{ad.AD_LOGO_IMG_SRC}}" alt="{{ad.AD_LOGO_ALT}}"> 
              <button class="btn bg-white font-12" (click)="open(ad.AD_LINK)">{{ad.AD_BUTTON_TEXT}}</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <div class="col-xl-4 stretch-card grid-margin">
        <div class="card card-ad-01-img">
          <div class="card-body d-flex align-items-center">
            <div class="text-white">
              <img src="../../assets/images/flag-japan.png" alt="flag-japan">
              <h1 class="font-20 font-weight-semibold mb-0"> Blood Plasma for</h1>
              <h1 class="font-20 font-weight-semibold">Cancer Therapy!</h1>
              <p>For the last 13 years, we have helped Takeda to streamline the blood plasma collection process for nearly 1 million donors in 200 geographically distributed locations, saving them millions of dollars.</p>
              <p class="font-10 font-weight-semibold"> Enjoy the advantage of premium. </p>
              <img src="../../assets/images/takeda-logo.png" alt="takeda-logo"> 
              <button class="btn bg-white font-12" (click)="open(advertisements[0].ID)">Download Case Study</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 stretch-card grid-margin">
        <div class="card card-ad-02-img">
          <div class="card-body d-flex align-items-center">
            <div class="text-white">
              <img src="../../assets/images/flag-turkish.png" alt="flag-turkish">
              <h1 class="font-20 font-weight-semibold mb-0"> Turkish</h1>
              <h1 class="font-20 font-weight-semibold">National ID!</h1>
              <p>80 million Turkish citizens received a new digital ID cards. To prevent identity fraud, M2SYS built a massive identity de-duplication system, which runs on 2 clusters of 40 massive parallel servers with Oracle & EMC as the data stack.</p>
              <p class="font-10 font-weight-semibold"> Enjoy the advantage of premium. </p>
              <img src="../../assets/images/id-card-icon.png" alt="id-card-icon"> 
              <a class="btn bg-white font-12" href="https://www.m2sys.com/blog/download-turkish-national-id-project/">Download Case Study</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 stretch-card grid-margin">
        <div class="card card-img">
          <div class="card-body d-flex align-items-center">
            <div class="text-white">
              <img src="../../assets/images/CloudABIS_logo_m2sys.png" alt="identity-cloudabis">
              <h1 class="font-20 font-weight-semibold mb-0"> CloudABIS™</h1>
              <h1 class="font-20 font-weight-semibold">Cloud-Based ABIS System</h1>
              <p>Built with nearly 20 years of experience in large-scale biometric technology projects, CloudABIS™ is a superscalar, biometrics-as-a-service (BaaS) matching system that removes the burden & cost associated with building and maintaining a reliable biometric identification system.</p>
              <p class="font-10 font-weight-semibold"> Enjoy the advantage of our cloud-based biometric service. </p>
              <img src="../../assets/images/m2sys-logo.png" alt="identity-m2sys-icon"> 
              <a class="btn bg-white font-12" href="https://identity.cloudabis.com/">Signup For Biometric Matching Service</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- chart row starts here -->
    
    <div class="row" style="background-image: url('../../assets/images/egov-section.png');background-size: cover;">
      <div class="col-sm-4 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="card-title"> Prison Management
                System 
                <small class="d-block text-muted"><img src="../../assets/images/Prison-Management-icon.png" alt="id-card-icon"></small>
              </div>
              <div class="d-flex text-muted font-20">
              </div>
            </div>
            <span class="text-muted font-13" style="font-weight:bold;">Featured Solution</span><br>
            <img src="../../assets/images/Prison-Management.jpg"  alt="id-card-icon">
          </div>
        </div>
      </div>
      <div class="col-sm-4 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="card-title"> Law Enforcement Management System 
                <small class="d-block text-muted"><img src="../../assets/images/Law-Enforcement-Management-System-icon.png" alt="id-card-icon"></small>
              </div>
              <div class="d-flex text-muted font-20">
              </div>
            </div>
            <span class="text-muted font-13" style="font-weight:bold;">Featured Solution</span><br>
            <img src="../../assets/images/Law-Enforcement.jpg"  alt="id-card-icon">
          </div>
        </div>
      </div>
      <div class="col-sm-4 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="card-title"> City & Municipality Digitization 
                <small class="d-block text-muted"><img src="../../assets/images/smart-icon.png" alt="id-card-icon"></small>
              </div>
              <div class="d-flex text-muted font-20">
              </div>
            </div>
            <span class="text-muted font-13" style="font-weight:bold;">Featured Solution</span><br>
            <img src="../../assets/images/samrt-city.jpg"  alt="id-card-icon">
          </div>
        </div>
      </div>
    </div>
    <!-- image card row starts here -->
    <div class="row">
      <div class="col-xl-6 stretch-card grid-margin">
        <div class="card card-ad-05-img">
          <div class="card-body d-flex align-items-center">
            <div class="text-white">
              <h1 class="font-20 font-weight-semibold mb-0"> Banking & Financial</h1>
              <p>Millions of people are accessing their funds using our account security system in many countries. Secure identity protection in this industry is critical; our system supports the Know Your Customer (KYC) banking policy to prevent unauthorized transactions and safeguard financial accounts.</p>
              
              <img src="../../assets/images/banking-arig-bank.png" alt="id-card-icon"> 
              <img src="../../assets/images/banking-bank-of-africa.png" alt="id-card-icon">
              <img src="../../assets/images/banking-unibank.png" alt="id-card-icon">
              <img src="../../assets/images/banking-grupo-monge.png" alt="id-card-icon">
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6 stretch-card grid-margin">
        <div class="card card-ad-06-img">
          <div class="card-body d-flex align-items-center">
            
            <div class="text-white">
              <img src="../../assets/images/prevent-releasing-wrong-inmate-1.png" alt="id-card-icon"> 
            <img src="../../assets/images/prevent-releasing-wrong-inmate-2.png" alt="id-card-icon"> 
            <img src="../../assets/images/prevent-releasing-wrong-inmate-3.png" alt="id-card-icon"> <br>
              <h1 class="font-20 font-weight-semibold mb-0"> We prevent releasing the wrong inmate</h1>
              <p>Over 200 jails in the USA use our biometric system to identify inmates during entry and exit. Many large Jail Management Software (JMS) providers embedded our solution into their offerings.</p>
              
              <img src="../../assets/images/central-square-logo.png" alt="id-card-icon"> 
              <img src="../../assets/images/southern-software-logo.png" alt="id-card-icon">
              <img src="../../assets/images/tyler-logo.png" alt="id-card-icon">
              <img src="../../assets/images/gtl-logo.png" alt="id-card-icon">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>